[submodule "SecLists"]
	path = SecLists
	url = https://github.com/danielmiessler/SecLists
[submodule "BRDumps-wordlists"]
	path = BRDumps-wordlists
	url = https://github.com/BRDumps/wordlists
[submodule "pt/portuguese-brazilian-synonyms"]
	path = pt/portuguese-brazilian-synonyms
	url = https://github.com/stavarengo/portuguese-brazilian-synonyms
